@import "modules/color";
@import "modules/general";
@import "modules/grid";
@import "modules/typo";
@import "modules/spacer";
@import "modules/image";
@import "modules/button";
@import "modules/shadow";
@import "modules/border";
@import "modules/color";
@import "modules/animation";
@import "modules/card";
// layouts
@import "layout/header";
@import "layout/collections";
@import "layout/featured";
@import "layout/creator";
@import "layout/faq";
@import "layout/banner";
@import "layout/footer";