.filter {
    font-size: 1.5rem;
    text-align: center;
    background: $white10;
    padding: .5rem 0;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: $purple;
    }
}

.collect {
    &.hide {
        display: none;
    }

    &.active {
        animation: fadeUp .4s linear;
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }
}