$halfwhite: rgba(255, 255, 255, 0.5);
$white10:rgba(255, 255, 255, 0.1);
$white: #fff;
$purple: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
$lightpurple:#A24BF8;
$darkblue: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);

.bg-image {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image2 {
    background-image: url(/img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// background
.bg-white10 {
    background: $white10;
}

.bg-purple {
    background: $purple;
}

.bg-darkblue {
    background: $darkblue;
}

.bg-halfwhite {
    background: $halfwhite;
}

// color
.halfwhite {
    color: $halfwhite;
}

.lightpurple {
    color: $lightpurple;
}

.darkblue {
    color: $darkblue;
}

.white {
    color: white;
}



@media screen and(max-width:1024px) {}

@media screen and(max-width:414px) {}